


<div class="card text-center">
  <div class="card-header">
  <%= @contact.name %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @contact.phone %></h5>
    <p class="card-text"> <%= @contact.email %></p>
    <%= link_to 'Edit Contact',  edit_contact_path(@contact) , class: "btn btn-outline-primary" %>
    <%= link_to 'Back to Contacts',  contacts_path , class: "btn btn-outline-primary" %>

  </div>
  </div>